<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>first name</td>
        <td>last name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person:${persons}">
        <td th:text="${person.id} "></td>
        <td th:text="${person.firstName}"></td>
        <td th:text="${person.lastName}"></td>
    </tr>
    </tbody>
</table>
<form action="#" th:action="@{/person/add}" th:object="${person}" method="post">
    <table border="1">
        <tr>
            <td><label for="firstName"/> First Name</td>
            <td><input id="firstName" type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <td><label for="lastName" />Last Name</td>
            <td><input id="lastName" type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="add person" /></td>
        </tr>
    </table>
</form>
</body>
</html>